<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <title>{% block layout_title %}zAppsAdminBundle{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('bundles/zappsadmin/bootstrap/css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('bundles/zappsadmin/plugins/font-awesome-4.5.0/css/font-awesome.min.css') }}">
            <link rel="stylesheet" href="{{ asset('bundles/zappsadmin/plugins/ionicons-2.0.1/css/ionicons.min.css') }}">
            <link rel="stylesheet" href="{{ asset('bundles/zappsadmin/plugins/select2-master/css/select2.min.css') }}">
            <link rel="stylesheet" href="{{ asset('bundles/zappsadmin/plugins/bootstrap-daterangepicker-master/daterangepicker-zapps-custom.css') }}">
            <link rel="stylesheet" href="{{ asset('bundles/zappsadmin/dist/css/AdminLTE.min.css') }}">
            <!-- <link rel="stylesheet" href="{{ asset('bundles/zappsadmin/dist/css/AdminLTE.css') }}">  DISABLED GOOGLE FONTS -->
            <link rel="stylesheet" href="{{ asset('bundles/zappsadmin/plugins/iCheck/minimal/grey.css') }}">
            <link rel="stylesheet" href="{{ asset('bundles/zappsadmin/dist/css/skins/skin-red.min.css') }}">
        {% endblock %}
        {% block javascripts %}
            <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
            <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
            <![endif]-->
            <script src="{{ asset('bundles/zappsadmin/plugins/jQuery/jQuery-2.1.4.min.js') }}"></script>
            <script src="{{ asset('bundles/zappsadmin/bootstrap/js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('bundles/zappsadmin/plugins/iCheck/icheck.min.js') }}"></script>
            <script src="{{ asset('bundles/zappsadmin/plugins/select2-master/js/select2.full.js') }}"></script>
			<script src="{{ asset('bundles/tetranzselect2entity/js/select2entity.js') }}"></script>

            <script src="{{ asset('bundles/zappsadmin/plugins/bootstrap-daterangepicker-master/moment.min.js') }}"></script>
            <script src="{{ asset('bundles/zappsadmin/plugins/bootstrap-daterangepicker-master/daterangepicker-zapps-custom.js') }}"></script>

            <script src="{{ asset('bundles/zappsadmin/dist/js/app.min.js') }}"></script>
            <!-- zApps framework -->
            <script type="text/javascript" src="{{ asset('bundles/zappsadmin/disablable/app.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/zappsadmin/disablable/winManager.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/zappsadmin/disablable/msgManager.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/zappsadmin/disablable/container.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/zappsadmin/disablable/dialogWindow.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/zappsadmin/disablable/staticWindow.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/zappsadmin/disablable/translationWidget.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/zappsadmin/disablable/photoWidget.js') }}"></script>
            <script>
                $(document).ready(function() {
                    zApps.app();

                    // Handle edit user profile link
                    $('#edit_user_profile').click(function() {
                        event.preventDefault();
                        // on "edit" link click, open new dialog window and load edit content via defined edit route
                        editWindow = zApps.winManager.createWindow( {
                            type: 'dialog',
                            modal: true,
                            id: 'editWindow_user_profile',
                            sourceUrl: $(this).attr('href'),
                            parent: zApps.mainContainer,
                            onClose: function(self) {
                                // when editing is finished, reload page
                                window.location.reload();
                            },
                            width: 'large'
                        });
                    });
                });
            </script>
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <style>
            /* Make sidebar menu headers more visible (lighter) */
            .skin-red .sidebar-menu>li.header {
                color: #83959C;
            }

            /* Make success color (green) more lighter */
            .btn-success {
                background-color: #2BD405;
                border-color: #27C504;
            }
            .btn-success:hover,
            .btn-success:active,
            .btn-success.hover {
                background-color: #20BA20;
                border-color: #22A405;
            }
            .bg-green,
            .callout.callout-success,
            .alert-success,
            .label-success,
            .modal-success .modal-body {
                background-color: #2BD405 !important;
            }
            .text-green {
                color: #2BD405 !important;
            }
            .progress-bar-green,
            .progress-bar-success {
                background-color: #20BA20;
            }

            /* Added custom button color */
            .btn-success-light {
                border: 1px dotted #2BD405;
                color: #2BD405;
                background: #FFF;
            }
            .btn-success-light:focus,
            .btn-success-light:hover,
            .btn-success-light:active,
            .btn-success-light.hover {
                border: 1px dotted #20BA20;
                color: #20BA20;
                background: #E7FFE7;
            }
            .btn-success-light:focus {
                border: 1px dotted #000;
            }

            /* Incrase label font size */
            .label {
                font-size: 85%;
            }

            /* Added custom label "success-light" */
            .label-success-light {
                color: #2BD405;
                border: 1px dotted #2BD405 !important;
            }

            /* Speed up loader animation */
            .fa-spin {
                animation-duration: 1s;
            }

            .modal {
                overflow: auto;
            }

            .blurred {
                -webkit-filter: blur(3px);
            }

            /* Calendar widget drops shadow */
            .dropdown-menu {
                box-shadow:0 6px 12px rgba(0,0,0,.175)
            }

            /* Select2 widget drops shadow */
            .select2-dropdown {
                box-shadow:0 6px 12px rgba(0,0,0,.175)
            }

            /**
             * Add space between icon and text when there is an icon
             * followed by span element inside button or link.
             */
            button > i + span, a > i + span {
                padding-left: 6px;
            }

            /* Add space between icon and text after it. */
            i.icon {
                padding-right: 6px;
            }

            /* This fix conflicts with sidebar menu, so we remove that spacing there */
            .sidebar-menu>li>a>.fa + span {
                padding-left: 0;
            }

            /* Grid filters styling */
            .grid-filters {
                opacity: 0;
                height: 0;
                margin-bottom: 0;
                transition-property: opacity;
                transition-delay: 0s;
                transition-duration: 0.2s;
                transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
                overflow: hidden;
            }
            .grid-filters-opened {
                opacity: 1;
                height: auto;
                margin-bottom: 20px;
            }

            /* Add margin to translatable tab content */
            .a2lix_translationsFields.tab-content {
                margin-top: 16px;
            }

            /* Make large modal window wider */
            @media (min-width: 992px) {
                .modal-lg {
                    width: 90%;
                }
            }

            /* Make a2lix translation content to be inside border */
            .a2lix_translationsFields.tab-content {
                margin-top: 0;
                padding-top: 16px;
                border-left: 1px solid #DDDDDD;
                border-bottom: 1px solid #ddd;
                border-right: 1px solid #ddd;
                padding-left: 10px;
                padding-right: 10px;
                background-color: #F9F9F9;
            }
            .a2lix_translationsLocales.nav-tabs li.active > a {
                background-color: #F9F9F9;
            }
        </style>
    </head>
    <body id="body" class="hold-transition skin-red sidebar-mini">
        {% block layout %}{% endblock %}
    </body>
</html>