{% use "bootstrap_3_horizontal_layout.html.twig" %}

{# This overrides width ratio between form label and form widget #}
{% block form_label_class -%}
col-sm-4
{%- endblock form_label_class %}

{% block form_group_class -%}
col-sm-8
{%- endblock form_group_class %}