{% use "bootstrap_3_horizontal_layout.html.twig" %}

{#
 # This overrides bootstrap form_row and fixes adding has-error class to datepicker widget
 # when its children fields have errors.
 # Also, now if label is set as "false", it will not be rendered and widget will have class "col-sm-12" (full width)
 #}
{% block form_row -%}
    <div class="form-group{% if not valid %} has-error{% endif %}">
        {% if form.vars.label is not same as(false) %}
            {{- form_label(form) -}}
            {% set form_group_class = block('form_group_class') %}
        {% else %}
            {% set form_group_class = 'col-sm-12' %}
        {% endif %}

        <div class="{{ form_group_class }}">
            {{- form_widget(form) -}}
            {{- form_errors(form) -}}
        </div>
    </div>
{%- endblock form_row %}

{#
 # This overrides bootstrap form_label and changes label rendering behaviour. Now if label is set as false, it doesnt render label holder so
 # widget without label is not pulled right.
 #}
{% block form_label -%}
{% spaceless %}
    {% if label is same as(false) %}
        <div class="{{ block('form_label_class') }}"></div>
    {% else %}
        {% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' ' ~ block('form_label_class'))|trim}) %}
        {{- parent() -}}
    {% endif %}
{% endspaceless %}
{%- endblock form_label %}