{% block layout_content %}
    <div class="modal-header">
        <h4 class="modal-title">{% block layout_content_title %}MODAL LAYOUT TITLE{% endblock %}</h4>
    </div>
    <div class="modal-body">
        {% block layout_content_body %}MODAL LAYOUT BODY{% endblock %}
    </div>
    <div class="modal-footer">
        {% block layout_content_footer %}MODAL LAYOUT FOOTER{% endblock %}
    </div>
{% endblock %}