{% extends 'ZappsAdminBundle::layout.html.twig' %}

{% block layout_content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>{% block layout_content_title %}STATIC LAYOUT TITLE{% endblock %}</h1>
    </section>
    <!-- Main content -->
    <section class="content">
        {% block layout_content_body %}STATIC LAYOUT BODY{% endblock %}
    </section>
{% endblock %}