{# block_grid_head.html.twig #}

{% block grid_head %}
    <script type="text/javascript">
        $(document).ready(function() {
            // grid table
            var gridTable = $('table[name="{{ grid.block_prefix }}"]');

            // grids checkbox for selecting/deselecting all rows
            var selectAllCheckbox = gridTable.find('input[type="checkbox"][name="select-all"]');

            // checkboxes in grid for selecting individual rows
            var selectedRows = gridTable.find('input[type="checkbox"][name!="select-all"]');

            // toggle checkbox for selecting/deselecting all rows
            selectAllCheckbox.on('ifChanged', function(event) {
                $(selectedRows).each(function(index, value) {
                    var checkbox = $(value);
                    if(selectAllCheckbox.prop('checked') == true) {
                        checkbox.iCheck('check');
                    } else {
                        checkbox.iCheck('uncheck');
                    }
                });
            });

            var gridForm = $('form[name="{{ grid.block_prefix }}"]');
            var sortColumnField = gridForm.find('#{{ grid.form.sort_column.vars.id }}');
            var sortDirectionField = gridForm.find('#{{ grid.form.sort_direction.vars.id }}');

            // add callback for click on any of sortable grid headers
            gridTable.find('a[name="sort-column-link"]').click(function(event) {
                event.preventDefault();
                var columnName = $(this).data('column-name');
                // If this is click on column that is already sorted, then only change order direction
                if (sortColumnField.val() == columnName) {
                    if (sortDirectionField.val() == 'asc') {
                        sortDirectionField.val('desc');
                    }
                    else {
                        sortDirectionField.val('asc');
                    }
                }
                // If this is click on column that is not yet sorted, sort by that column in asc order
                else {
                    sortColumnField.val(columnName);
                    sortDirectionField.val('asc');
                }
                // Submit grid form to apply grid changes
                gridForm.submit();
            });
        });
    </script>
    <tr>
        <th width="15px">
            <input type="checkbox" value="1" name="select-all">
        </th>
        {% for column in grid.columns %}
            <th style="text-align: center;">
            {% if column.isSortable() %}
                <a name="sort-column-link" data-column-name="{{ column.name }}" href="#">{{ column.label }} </a>
                {% if column.getSortDirection() == constant('Zapps\\AdminBundle\\Grid\\Common\\AbstractColumn::SORT_DIRECTION_UP') %}
                    <i class="fa fa-sort-amount-asc"></i>
                {% elseif column.getSortDirection() == constant('Zapps\\AdminBundle\\Grid\\Common\\AbstractColumn::SORT_DIRECTION_DOWN') %}
                    <i class="fa fa-sort-amount-desc"></i>
                {% endif %}
            {% else %}
                {{ column.label }}
            {% endif %}
        </th>
        {% endfor %}
        <th width="140px" style="text-align: center;">
            Actions
        </th>
    </tr>
{% endblock %}