{#
 # block_grid_columns_base.html.twig
 # It has access to "column" and "value" variables.
 #}


{% block text %}
{% spaceless %}
    <td style="text-align: {{ column.getAlignment() }};">{{ value }}</td>
{% endspaceless %}
{% endblock %}


{% block textarea %}
{% spaceless %}
    <td style="text-align: {{ column.getAlignment() }};">
        {{ value|truncate(30) }}{% if value is not empty and value|length > 30 %} <i title="{{ value }}" class="fa fa-commenting-o" style="cursor:pointer;"></i>{% endif %}
    </td>
{% endspaceless %}
{% endblock %}


{% block entity %}
{% spaceless %}
    {% if value %}
        {# If EntityColumn has property_name defined, use it to get data for displaying it in column #}
        {# otherwise entity must have defined method _toString() #}
        {% if column.getPropertyName() is not empty %}
            {% set value = attribute(value, column.getPropertyName()) %}
        {% else %}
            {% set value = value %}
        {% endif %}
    {% else %}
        {% set value = '' %}
    {% endif %}
    <td style="text-align: {{ column.getAlignment() }};">{{ value }}</td>
{% endspaceless %}
{% endblock %}


{% block date %}
{% spaceless %}
    <td style="text-align: {{ column.getAlignment() }};">{{ value|localizeddate('short', 'none') }}</td>
{% endspaceless %}
{% endblock date %}


{% block money %}
{% spaceless %}
    <td style="text-align: {{ column.getAlignment() }};">{{ value|localizedcurrency('EUR') }}</td>
{% endspaceless %}
{% endblock %}