{# If you need to extend gird columns template and add your new column types or just overrride existing ones
 # then override this file with your AppBundle\Resources\ZappsAdminBundle\views\Grid\block_grid_columns.html.twig #}

{% extends 'ZappsAdminBundle:Grid:block_grid_columns_base.html.twig' %}