{# block_grid_body.html.twig #}

{% block grid_body %}
    <script type="text/javascript">
        $(document).ready(function() {
            // grid table
            var gridTable = $('table[name="{{ grid.block_prefix }}"]');

            // table rows
            var rows = gridTable.find('tr');

            // bind actions for edit and delete buttons on every row
            $(rows).each(function(index, value) {
                // "edit" link
                var editLink = $(value).find('a[name="row-edit"]');
                editLink.click(function(event) {
                    event.preventDefault();
                    // on "edit" link click open new dialog window and load edit content via defined edit route
                    editWindow = zApps.winManager.createWindow( {
                        type: 'dialog',
                        id: 'editWindow_' + '{{ grid.block_prefix }}' + '_' + editLink.data('id'),
                        sourceUrl: editLink.data('url'),
                        parent: zApps.mainContainer,
                        width: 'large',
                        // when editing is finished, reload parent window by submitting grid form, so grid will be loaded with remaining parameters (page, sort, filters...)
                        onClose: function(self) {
                            // show loader on main container before page reloads
                            self.getParent().showLoader();

                            var gridForm = $('form[name="{{ grid.block_prefix }}"]');
                            gridForm.submit();
                        }
                    });
                });

                // "delete" link
                var deleteLink = $(value).find('a[name="row-delete"]');
                deleteLink.click(function(event) {
                    event.preventDefault();
                    // on "delete" link click, ask for confirmation
                    deleteWindow = zApps.winManager.createWindow( {
                        type: 'dialog',
                        id: 'deleteWindow_' + '{{ grid.block_prefix }}' + '_' + deleteLink.data('id'),
                        sourceUrl: deleteLink.data('url'),
                        parent: zApps.mainContainer,
                        width: 'small',
                        onClose: function(self) {
                            // show loader on main container before page reloads
                            self.getParent().showLoader();

                            var gridForm = $('form[name="{{ grid.block_prefix }}"]');
                            gridForm.submit();
                        }
                    });
                });
            });
        });
    </script>
    {% for row in grid.rows %}
        <tr>
            <td width="15px">
                <input type="checkbox" value="{{ row.data.id }}" name="select[{{ row.data.id }}]"{% if row.options.selected is defined and row.options.selected == true %}checked="checked"{% endif %}>
            </td>
            {% for column in grid.columns %}
                {% set columnValue = attribute(row.data, column.getName()) %}
                {{ grid_column(column, columnValue) }}
            {% endfor %}
            <td width="140px" style="text-align: center;">
                <a name="row-edit" href="#" class="btn btn-xs" data-id="{{ row.data.id }}" data-url="{{ path(row.options.edit_route, {'id': row.data.id}) }}"><i class="fa fa-pencil-square-o"></i> Edit</a>
                <span style="width:8px;display:inline-block;"></span>
                <a name="row-delete" href="#" class="btn btn-xs text-red" data-id="{{ row.data.id }}" data-url="{{ path(row.options.delete_route, {'id': row.data.id}) }}"><i class="fa fa-trash-o"></i> Delete</a>
            </td>
        </tr>
    {% endfor %}
{% endblock %}