{# block_grid_paginator.html.twig #}

{% block grid_paginator %}
    <script type="text/javascript">
        $(document).ready(function() {
            var gridForm = $('form[name="{{ grid.block_prefix }}"]');
            var gridPagination = $('ul[name="{{ grid.block_prefix }}"]');

            // forms "page" field
            var formPageField = gridForm.find('#{{ grid.form.page.vars.id }}');

            // set paginator's input field change event
            var pageInputField = gridPagination.find('input[name="page"]');

            pageInputField.on('change', function(event) {
                formPageField.val(pageInputField.val());
                gridForm.submit();
            });

            // paginator's links
            pageLinks = gridPagination.find('a');
            $(pageLinks).each(function(index, value) {
                var pageLink = $(value);
                pageLink.click(function(event) {
                    event.preventDefault();
                    if(!pageLink.parent('li').hasClass('disabled')) {
                        formPageField.val(pageLink.data('page'));
                        gridForm.submit();
                    }
                });
            });
        });
    </script>

    <ul name="{{ grid.block_prefix }}" class="pagination pagination-sm no-margin pull-right">
        <li {% if not grid.paginator.previous_page %}class="disabled"{% endif %}><a name="page-first" href="#" title="First page" data-page="1"><i class="fa fa-angle-double-left"></i></a></li>
        <li {% if not grid.paginator.previous_page %}class="disabled"{% endif %}><a name="page-previous" href="#" title="Previous page" data-page="{{ grid.paginator.previous_page }}"><i class="fa fa-angle-left"></i></a></li>
        <li><span style="padding: 3px;">Page <input style="border: 1px solid #EAEAEA; width: 32px; text-align: center;" type="text" name="page" value="{{ grid.paginator.page }}" /> of {{ grid.paginator.total_pages }}</span></li>
        <li {% if not grid.paginator.next_page %}class="disabled"{% endif %}><a name="page-next" href="#" title="Next page" data-page="{{ grid.paginator.next_page }}"><i class="fa fa-angle-right"></i></a></li>
        <li {% if not grid.paginator.next_page %}class="disabled"{% endif %}><a name="page-last" href="#" title="Last page" data-page="{{ grid.paginator.total_pages }}"><i class="fa fa-angle-double-right"></i></a></li>
    </ul>
{% endblock %}