{# Grid base columns #}

{% block column_header %}

{% endblock %}

{% macro header(column) %}
{% spaceless %}
    <th>
        {% if column.options.sortable %}
            <a name="sort-column-link" data-column-name="{{ column.name }}" href="#">{{ column.label }} </a>
            {% if column.getSortedUp %}<i class="fa fa-sort-amount-asc"></i>{% endif %}
            {% if column.getSortedDown %}<i class="fa fa-sort-amount-desc"></i>{% endif %}
        {% else %}
            {{ column.label }}
        {% endif %}
    </th>
{% endspaceless %}
{% endmacro header %}


{% macro body(column, rowData) %}
{% spaceless %}
    {% set columnValue = attribute(rowData, column.getName()) %}
    {{ attribute(_self, column.getType(), [columnValue, column.options]) }}
{% endspaceless %}
{% endmacro %}


{% macro text(value, options) %}
{% spaceless %}
    {% if options.mapper is defined %}
        <td>{{ value|zappsMapper(options.mapper) }}</td>
    {% else %}
        <td>{{ value }}</td>
    {% endif %}
{% endspaceless %}
{% endmacro %}


{% macro textarea(value, options) %}
{% spaceless %}
    <td>
        {{ value|truncate(30, true) }}{% if value is not empty %} <i title="{{ value }}" class="fa fa-commenting-o" style="cursor:pointer;"></i>{% endif %}
    </td>
{% endspaceless %}
{% endmacro %}


{% macro entity(entity, options) %}
{% spaceless %}
    {% if entity %}
        {# If EntityColumn has property_name defined, use it to get data for displaying it in column #}
        {# otherwise entity must have defined method _toString() #}
        {% if options.property_name is defined %}
            {% set value = attribute(entity, options.property_name) %}
        {% else %}
            {% set value = entity %}
        {% endif %}
    {% else %}
        {% set value = '' %}
    {% endif %}
    {% if options.mapper is defined %}
        <td>{{ value|zappsMapper(options.mapper) }}</td>
    {% else %}
        <td>{{ value }}</td>
    {% endif %}
{% endspaceless %}
{% endmacro %}


{% macro boolean(value) %}
{% spaceless %}
    <td>
    {% if value == true %}
        Yes
    {% else %}
        No
    {% endif %}
    </td>
{% endspaceless %}
{% endmacro %}


{% macro date(value) %}
{% spaceless %}
    <td>{{ value|localizeddate('short', 'none') }}</td>
{% endspaceless %}
{% endmacro date %}


{% macro action_edit(route, column) %}
{% spaceless %}
    <td><a href="{{ path(route, { 'id': column.value }) }}">Edit</a></td>
{% endspaceless %}
{% endmacro action_edit %}


{% macro action_delete(route, column) %}
{% spaceless %}
    <td><a href="{{ path(route, { 'id': column.value }) }}">Delete</a></td>
{% endspaceless %}
{% endmacro action_delete %}