{# Grid #}

{% import 'ZappsAdminBundle:Grid:grid_form.html.twig' as template_grid_form %}
{% import 'ZappsAdminBundle:Grid:grid_paginator.html.twig' as template_grid_paginator %}
{% import 'ZappsAdminBundle:Grid:grid_rows.html.twig' as template_grid_rows %}

{# This overrides width ratio between form label and form widget #}
{% form_theme grid.form 'ZappsAdminBundle::bootstrap_3_horizontal_layout_grid_filters.html.twig' %}

<script type="text/javascript">
    $(document).ready(function() {
        // activate plugin for iCheck
        $('input').iCheck( {
            checkboxClass: 'icheckbox_minimal-grey',
            radioClass: 'iradio_minimal-grey',
            increaseArea: '20%' // optional
        });

        // Toggle grid filters form
        $('#{{ grid.block_prefix }}-filters-button').click(function() {
            $('#{{ grid.block_prefix }}-filters').toggleClass("grid-filters-opened");
        });

        $('#{{ grid.block_prefix }}-create-new-button').click(function(event) {
            event.preventDefault();
            // on "create new" button click open new dialog window and load "create new" content via defined "create" route
            createWindow = zApps.winManager.createWindow( {
                type: 'dialog',
                id: 'createWindow_' + '{{ grid.block_prefix }}',
                sourceUrl: $(this).data('url'),
                parent: zApps.mainContainer,
                width: 'large',
                // when editing is finished, reload parent window by submitting grid form, so grid will be loaded with remaining parameters (page, sort, filters...)
                onClose: function(self) {
                    // show loader on main container before page reloads
                    self.getParent().showLoader();

                    var gridForm = $('form[name="{{ grid.block_prefix }}"]');
                    gridForm.submit();
                }
            });
        });
    });
</script>

<div class="box-body">

    {# Grid action buttons #}
    <div class="margin clearfix">
        {% if grid.form.filters|length > 0 %}
            <div class="btn-group">
              <button type="button" id="{{ grid.block_prefix }}-filters-button" class="btn btn-warning btn-sm btn-flat"><i class="fa fa-filter"></i><span>Filters</span></button>
            </div>
        {% endif %}
        <div class="btn-group pull-right">
          <!-- <p><a class="btn btn-primary" name="new" data-url="{{ path(grid.new_route) }}"><i class="icon-plus-sign icon-white"></i> Create new</a></p> -->
          <button type="button" id="{{ grid.block_prefix }}-create-new-button" class="btn btn-primary btn-sm btn-flat" data-url="{{ path(grid.new_route) }}"><i class="fa fa-plus"></i><span>Create new</span></button>
        </div>
        <div class="btn-group"></div>
    </div>

    {# Grid filters #}
    <div class="box box-warning grid-filters {{ grid.filter_is_active ? 'grid-filters-opened' : '' }}" id="{{ grid.block_prefix }}-filters">
        <div class="box-header with-border">
            <h3 class="box-title">Filters</h3>
        </div>
        <div class="box-body">
            {{ template_grid_form.render_form(grid) }}
        </div>
    </div>

    {# Grid table #}
    <div class="box">
        <table name="{{ grid.block_prefix }}" class="table table-striped table-bordered">
            <tbody>
                {{ template_grid_rows.render_header(grid) }}
                {{ template_grid_rows.render_body(grid) }}
                {# TODO: add bulk actions (maybe as last row...) #}
            </tbody>
        </table>
    </div>

    {# Grid paginator #}
    {{ template_grid_paginator.render_input(grid) }}
</div>