{# Grid filters #}

{% macro render_filters(filters) %}
{% import 'ZappsAdminBundle:Form:form_widgets.html.twig' as template_form_widgets %}
{% spaceless %}
    {% if filters is not empty %}
        <div class="well well-small">
            <div><strong>Filters:</strong></div>
            <div class="clearfix">
                {% for filter in filters %}
                    {% set filter_widget_type = filter.vars.block_prefixes.2 %}
                    {# call macro function by name of filter type with filter widget as argument #}
                    <div class="filter-box">{{ attribute(template_form_widgets, ('render_' ~ filter_widget_type), [filter]) }}</div>
                {% endfor %}
            </div>
            <div>
                <button type="submit" class="btn btn-primary">Filter results</button>
            </div>
        </div>
    {% endif %}
{% endspaceless %}
{% endmacro render_filters %}