{# Grid form #}

{% macro render_form(grid) %}

    <script type="text/javascript">
        $(document).ready(function() {
            var gridForm = $('form[name="{{ grid.block_prefix }}"]');

            /**
             * On grid form submit we take all selected checkboxes which represent selected rows and add those row's ids
             * to form's "selected" field as comma separated integers.
             */
            gridForm.submit(function(event) {
                // grid table
                var gridTable = $('table[name="{{ grid.block_prefix }}"]');

                // checked checkboxes from grid table
                var selectedRows = gridTable.find('input:checked[type="checkbox"][name!="select-all"]');

                // "selected" field
                var formsSelectedItems = gridForm.find('#{{ grid.form.selected.vars.id }}');

                // remove all form's "selected" items from "selected" collection
                formsSelectedItems.val('');

                var selectedIds = [];

                // add selected row's ids to form's "selected" field
                $(selectedRows).each(function(index, value) {
                    selectedIds.push($(value).val());
                });

                formsSelectedItems.val(selectedIds.join(','));

                // continue form submission
                return true;
            });
        });
    </script>
    {% spaceless %}
    {{ form_start(grid.form, {
        'name': grid.block_prefix,
        'action': path(app.request.attributes.get('_route')),
        'method': 'POST'
    }) }}
        {# Splitting filter widgets into 2 columns:
         # The only part of this form that is visible is subform "form.filters",
         # so we loop through them and divide them in 2 columns.
         # The rest of the hidden fields are rendered with "form_rest". #}
        <div class="col-md-6">
            {% for child in grid.form.filters %}
                {% if loop.index0 is even %}
                    {{ form_row(child, {'attr': {'class': 'input-sm'}}) }}
                {% endif %}
            {% endfor %}
        </div>
        <div class="col-md-6">
            {% for child in grid.form.filters %}
                {% if loop.index0 is odd %}
                    {{ form_row(child, {'attr': {'class': 'input-sm'}}) }}
                {% endif %}
            {% endfor %}
        </div>
        {{ form_rest(grid.form) }}
        <div class="btn-group pull-right">
            <button type="submit" class="btn btn-warning btn-sm btn-flat"><i class="fa fa-check"></i><span>Apply</span></button>
        </div>
    </form>
    {% endspaceless %}
{% endmacro render_form %}