{# DEPRECATED #}

{# text type #}
{% macro render_text(widget) %}
{% spaceless %}
    {{ _self.render_input(widget) }}
{% endspaceless %}
{% endmacro %}


{# hidden text type #}
{% macro render_hidden_text(widget) %}
{% spaceless %}
    {{ _self.render_hidden_input(widget) }}
{% endspaceless %}
{% endmacro %}


{# integer type #}
{% macro render_integer(widget) %}
{% spaceless %}
    {{ _self.render_input(widget) }}
{% endspaceless %}
{% endmacro %}


{# hidden integer type #}
{% macro render_hidden_integer(widget) %}
{% spaceless %}
    {{ _self.render_hidden_input(widget) }}
{% endspaceless %}
{% endmacro %}


{# collection type #}
{# todo.. #}

{# input type #}
{% macro render_input(widget) %}
{% spaceless %}
    <div class="form-group {% if widget.vars.errors|length > 0 %}has-error{% endif %}">
        <div class="col-sm-2">
            {{ form_label(widget, '', { 'label_attr': {'class': 'control-label'} }) }}
        </div>
        <div class="col-sm-10">
            {{ form_widget(widget, {'attr': {'class': 'form-control'}}) }}
            {% if widget.vars.errors|length > 0 and widget.vars.errors is iterable %}
                {% for error in widget.vars.errors %}
                    <label class="control-label">{{ error.getMessage }}</label>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endspaceless %}
{% endmacro %}

{# choice type #}
{# Some parts are copied from https://github.com/phiamo/MopaBootstrapBundle/blob/master/Resources/views/Form/fields.html.twig #}
{% macro render_choice(widget) %}
{% spaceless %}
    <div class="form-group {% if widget.vars.errors|length > 0 %}has-error{% endif %}">
        <div class="col-sm-2">
            {{ form_label(widget, '', { 'label_attr': {'class': 'control-label'} }) }}
        </div>
        <div class="col-sm-10">
            {{ form_widget(widget, {'attr': {'class': 'form-control'}}) }}
            {% if widget.vars.errors|length > 0 and widget.vars.errors is iterable %}
                {% for error in widget.vars.errors %}
                    <label class="control-label">{{ error.getMessage }}</label>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endspaceless %}
{% endmacro %}








{# hidden collection type #}
{% macro render_hidden_collection(collection) %}
    <div id="{{ collection.vars.id }}" data-prototype="{{ form_widget(collection.vars.prototype)|e }}" style="display:none;">
        {% for widget in collection %}
            {# calls widget render_hidden_... method depending on widget type (text, photo, ...) #}
            {% set widget_type = widget.vars.block_prefixes.2 %}
            {{ attribute(_self, ('render_hidden_' ~ widget_type), [widget]) }}
        {% endfor %}
    </div>
{% endmacro %}





{# hidden input type #}
{% macro render_hidden_input(widget) %}
{% spaceless %}
    <input type="hidden" id="{{ widget.vars.id }}" name="{{ widget.vars.full_name }}" value="{{ widget.vars.value }}" />
{% endspaceless %}
{% endmacro %}



{# photo type #}
{% macro render_photo(widget) %}
{% spaceless %}
    <script type="text/javascript">
        zApps.winManager.addToInitStack(function(thisWindow) {
            var $windowHolder = thisWindow.getWindowHolder();
            var $photoHolder = $windowHolder.find('div[id="photo-holder-{{ widget.vars.name }}"]');

            var photoWidget = new zApps.photoWidget( {
                'photoHolder': $photoHolder,
                'parentWindow': thisWindow,
                'photoManagerPath': '{{ path('zapps_photo_manager') }}'
            });
        });
    </script>
    <div class="control-group {% if widget.vars.errors|length > 0 %}error{% endif %}">
        {{ form_label(widget, '', { 'label_attr': {'class': 'control-label'} }) }}
        <div class="controls">
            <div id="photo-holder-{{ widget.vars.name }}" class="photo-holder">
                {{ _self.render_hidden_input(widget) }}
            </div>
            {% if widget.vars.errors|length > 0 and widget.vars.errors is iterable %}
                {% for error in widget.vars.errors %}
                <span class="help-inline">{{ error.getMessage }}</span>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endspaceless %}
{% endmacro %}