{% block zapps_date_widget %}
{% spaceless %}
    <script type="text/javascript">
        $(document).ready(function() {
            var initDatePickerWidget = function(parentElId) {
                var $datepickerInputEl = $('#{{ form.vars.id }}');
                // Manually add saved date from form field to datepicker as moment.js object
                var loadedDate = $datepickerInputEl.val()
                    ? moment($datepickerInputEl.val(), 'YYYY-MM-DD')
                    : moment();
                $datepickerInputEl.daterangepicker({
                    singleDatePicker: true,
                    "showWeekNumbers": true,
                    "locale": {
                        "format": "{{ localizedmomentjsdatepattern('short', 'none') }}",
                        "daysOfWeek": [
                            "{{ "widget.daterange.daysOfWeek.Su"|trans }}",
                            "{{ "widget.daterange.daysOfWeek.Mo"|trans }}",
                            "{{ "widget.daterange.daysOfWeek.Tu"|trans }}",
                            "{{ "widget.daterange.daysOfWeek.We"|trans }}",
                            "{{ "widget.daterange.daysOfWeek.Th"|trans }}",
                            "{{ "widget.daterange.daysOfWeek.Fr"|trans }}",
                            "{{ "widget.daterange.daysOfWeek.Sa"|trans }}"
                        ],
                        "monthNames": [
                            "{{ "widget.daterange.monthNames.January"|trans }}",
                            "{{ "widget.daterange.monthNames.February"|trans }}",
                            "{{ "widget.daterange.monthNames.March"|trans }}",
                            "{{ "widget.daterange.monthNames.April"|trans }}",
                            "{{ "widget.daterange.monthNames.May"|trans }}",
                            "{{ "widget.daterange.monthNames.June"|trans }}",
                            "{{ "widget.daterange.monthNames.July"|trans }}",
                            "{{ "widget.daterange.monthNames.August"|trans }}",
                            "{{ "widget.daterange.monthNames.September"|trans }}",
                            "{{ "widget.daterange.monthNames.October"|trans }}",
                            "{{ "widget.daterange.monthNames.November"|trans }}",
                            "{{ "widget.daterange.monthNames.December"|trans }}"
                        ],
                        "firstDay": {{ "widget.daterange.firstDay"|trans }}
                    },
                    "parentEl": parentElId ? ("#"+parentElId) : 'body',
                    "startDate": loadedDate,
                }, function(start, end, label) {});
            };

            if (typeof zApps !== 'undefined') {
                zApps.winManager.addToInitStack(function(thisWindow) {
                    var parentElId = thisWindow.getId();
                    initDatePickerWidget(parentElId);
                });
            } else {
                initDatePickerWidget();
            }
        });
    </script>
    <div class="input-group">
        <div class="input-group-addon">
            <i class="fa fa-calendar"></i>
        </div>
        {{ form_widget(form) }}
    </div>
{% endspaceless %}
{% endblock %}

{% block zapps_daterange_widget %}
{% set formDateStart = attribute(form, form.vars.date_start_property) %}
{% set formDateEnd = attribute(form, form.vars.date_end_property) %}
{% spaceless %}
    <script type="text/javascript">
        $(document).ready(function() {
            var initDateRangeWidget = function initDateRangeWidget(parentElId) {
                var invalidDates = '{{ form.vars.invalid_dates }}';
                var unclickableDates = '{{ form.vars.unclickable_dates }}';
                var $hiddenDateStart = $('#{{ formDateStart.vars.id }}');
                var $hiddenDateEnd = $('#{{ formDateEnd.vars.id }}');
                var $datepickerInputEl = $('#{{ form.dateRange.vars.id }}');
                var minDate = '{{ form.vars.min_date }}' ? moment('{{ form.vars.min_date }}') : moment('2000-01-01');
                var maxDate = '{{ form.vars.max_date }}' ? moment('{{ form.vars.max_date }}') : moment('2080-01-01');

                // Apply days from hidden CheckIn and CheckOut fields to daterange widget
                var loadedStartDate = null;
                // If loaded start date exists
                if ($hiddenDateStart.val()) {
                    loadedStartDate = moment($hiddenDateStart.val(), 'YYYY-MM-DD');
                }
                else {
                    // If minDate is defined, don't put dateStart to be before minDate
                    if (minDate > moment()) {
                        loadedStartDate = minDate;
                    }
                    else {
                        loadedStartDate = moment();
                    }
                }
                var loadedEndDate = null;
                // If loaded date exists
                if ($hiddenDateEnd.val()) {
                    loadedEndDate = moment($hiddenDateEnd.val(), 'YYYY-MM-DD');
                }
                else {
                    // If minDate is defined, don't put dateEnd to be before minDate
                    if (minDate > moment()) {
                        loadedEndDate = minDate;
                    }
                    else {
                        loadedEndDate = moment();
                    }
                }

                // http://www.daterangepicker.com
                $datepickerInputEl.daterangepicker( {
                    "autoUpdateInput": ($hiddenDateStart.val() && $hiddenDateEnd.val()) ? true : false,
                    "showWeekNumbers": true,
                    "locale": {
                        "format": "{{ localizedmomentjsdatepattern('short', 'none') }}",
                        "separator": "{{ "widget.daterange.separator"|trans }}",
                        "applyLabel": "{{ "widget.daterange.applyLabel"|trans }}",
                        "cancelLabel": "{{ "widget.daterange.cancelLabel"|trans }}",
                        "fromLabel": "{{ "widget.daterange.fromLabel"|trans }}",
                        "toLabel": "{{ "widget.daterange.toLabel"|trans }}",
                        "customRangeLabel": "{{ "widget.daterange.customRangeLabel"|trans }}",
                        "daysOfWeek": [
                            "{{ "widget.daterange.daysOfWeek.Su"|trans }}",
                            "{{ "widget.daterange.daysOfWeek.Mo"|trans }}",
                            "{{ "widget.daterange.daysOfWeek.Tu"|trans }}",
                            "{{ "widget.daterange.daysOfWeek.We"|trans }}",
                            "{{ "widget.daterange.daysOfWeek.Th"|trans }}",
                            "{{ "widget.daterange.daysOfWeek.Fr"|trans }}",
                            "{{ "widget.daterange.daysOfWeek.Sa"|trans }}"
                        ],
                        "monthNames": [
                            "{{ "widget.daterange.monthNames.January"|trans }}",
                            "{{ "widget.daterange.monthNames.February"|trans }}",
                            "{{ "widget.daterange.monthNames.March"|trans }}",
                            "{{ "widget.daterange.monthNames.April"|trans }}",
                            "{{ "widget.daterange.monthNames.May"|trans }}",
                            "{{ "widget.daterange.monthNames.June"|trans }}",
                            "{{ "widget.daterange.monthNames.July"|trans }}",
                            "{{ "widget.daterange.monthNames.August"|trans }}",
                            "{{ "widget.daterange.monthNames.September"|trans }}",
                            "{{ "widget.daterange.monthNames.October"|trans }}",
                            "{{ "widget.daterange.monthNames.November"|trans }}",
                            "{{ "widget.daterange.monthNames.December"|trans }}"
                        ],
                        "firstDay": {{ "widget.daterange.firstDay"|trans }}
                    },
                    "parentEl": parentElId ? ("#"+parentElId) : 'body',
                    "minDate": minDate,
                    "maxDate": maxDate,
                    "startDate": moment(),
                    "endDate": moment(),
                    "useHalfDates": {{ form.vars.use_half_dates }},
                    "isInvalidDate": function(date) {
                        testDate = date.format("YYYY-MM-DD");   // DateRangeType is sending invalid dates in Y-m-d format
                        if (invalidDates.indexOf(testDate) != -1) {
                            return true;
                        }
                        return false;
                    },
                    "isUnclickableDate": function(date) {
                        testDate = date.format("YYYY-MM-DD");   // DateRangeType is sending unclickable dates in Y-m-d format
                        if (unclickableDates.indexOf(testDate) != -1) {
                            return true;
                        }
                    },
                    "isSelectedRangeValid": {{ form.vars.is_selected_range_valid|raw }},
                    "startDate": loadedStartDate,
                    "endDate": loadedEndDate,
                    "drops": "{{ form.vars.drops }}",
                    "showDatesFromOtherMonths": {{ form.vars.show_dates_from_other_months }},
                }
                , function(start, end, label) {});

                // Apply selected date range to visible date input element
                $datepickerInputEl.on('apply.daterangepicker', function(ev, picker) {
                    $(this).val(picker.startDate.format(picker.locale.format) + picker.locale.separator + picker.endDate.format(picker.locale.format));
                    $datepickerInputEl.trigger('change.daterangepicker');
                });

                // Apply selected date range to hidden startDate and endDate fields
                $datepickerInputEl.on('change.daterangepicker', function(ev) {
                    var picker = $datepickerInputEl.data('daterangepicker');
                    $hiddenDateStart.val(picker.startDate.format("YYYY-MM-DD")).trigger("change"); // copy moment's date/time as PHP's Y-m-d format
                    $hiddenDateEnd.val(picker.endDate.format("YYYY-MM-DD")).trigger("change"); // copy moment's date/time as PHP's Y-m-d format
                });
            };

            if (typeof zApps !== 'undefined') {
                zApps.winManager.addToInitStack(function(thisWindow) {
                    var parentElId = thisWindow.getId();
                    initDateRangeWidget(parentElId);
                });
            } else {
                initDateRangeWidget();
            }
        });
    </script>
    <div class="input-group">
        <div class="input-group-addon">
            <i class="fa fa-calendar"></i>
        </div>
        {{ form_widget(form.dateRange, {attr: {'readonly': 'readonly', 'style': 'cursor: pointer;'}}) }}
    </div>
    <input
        type="hidden"
        id="{{ formDateStart.vars.id }}"
        name="{{ formDateStart.vars.full_name }}"
        value="{{ formDateStart.vars.value is not empty ? formDateStart.vars.value|date('Y-m-d') : '' }}"
    />
    <input
        type="hidden"
        id="{{ formDateEnd.vars.id }}"
        name="{{ formDateEnd.vars.full_name }}"
        value="{{ formDateEnd.vars.value is not empty ? formDateEnd.vars.value|date('Y-m-d') : '' }}"
    />
{% endspaceless %}
{% endblock %}

{% block zapps_pagetemplatefield_widget %}
    <div class="row">
        <div class="col-md-5">
            {{ form_row(form.name) }}
            {{ form_row(form.type) }}
        </div>
        <div class="col-md-5">
            {{ form_row(form.options) }}
        </div>
        <div class="col-md-2 remove"></div>
    </div>
{% endblock %}

{% block zapps_formtemplate_widget %}
    {{ form_widget(form) }}
{% endblock %}