{# translated text type #}
{% macro render_translated_text(widget, translations) %}
    {% set rendered_prototype = _self.render_translated_input_prototype(translations.vars.prototype, widget.vars.name, widget.vars.attr) %}
    {{- _self.render_translated_widget(widget, translations, rendered_prototype) -}}
{% endmacro %}


{# translated textarea type #}
{% macro render_translated_textarea(widget, translations) %}
    {% set rendered_prototype = _self.render_translated_textarea_prototype(translations.vars.prototype, widget.vars.name, widget.vars.attr) %}
    {{- _self.render_translated_widget(widget, translations, rendered_prototype) -}}
{% endmacro %}


{# translated input type #}
{% macro render_translated_widget(widget, translations, rendered_prototype) %}
    <script type="text/javascript">
        zApps.winManager.addToInitStack(function(thisWindow) {
            var $windowHolder = thisWindow.getWindowHolder();
            var $translationsHolder = $windowHolder.find('div[id="translations-holder-{{ widget.vars.name }}"]');

            var translationWidget = new zApps.translationWidget( {
                'parentWindow': thisWindow,
                'translationsHolder': $translationsHolder
            });

            {# load translations in to widgets #}
            {% for translation in translations %}
                {# filter only translations for given translatable field name #}
                {% if translation.field.vars.value == widget.vars.name %}
                    translationWidget.loadTranslation(
                        '{{ translation.locale.vars.value }}',
                        '{{ translation.content.vars.value }}'
                    );
                {% endif %}
            {% endfor %}
        });
    </script>
    <div class="form-group{% if widget.vars.errors|length > 0 %} has-error{% endif %}">
        {{ form_label(widget) }}
        <div class="col-sm-10">
            {# fixed block #}
            <div class="clearfix" style="margin-bottom: 14px;">
                <div class="col-sm-1" style="padding-left: 0px; padding-right: 0px;">
                    <select class="form-control" disabled="disabled">
                        <option>En</option>
                    </select>
                </div>
                <div class="col-sm-11" style="padding-left: 0px; padding-right: 0px;">
                    {{- form_widget(widget) -}}
                    {{- form_errors(widget) -}}
                </div>
            </div>
            {# fixed end #}

            {# translations block #}
            <div id="translations-holder-{{ widget.vars.name }}" class="clearfix" style="margin-bottom: 14px;" data-prototype="{{ rendered_prototype|e }}">
                {# Add new #}
                <div class="clearfix" style="margin-bottom: 14px;">
                    <button type="button" class="btn btn-flat btn-xs" name="add-translation">
                        <i class="fa fa-plus"></i><span>Add translation</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}


{# Prototype: input type #}
{% macro render_translated_input_prototype(prototype, widget_name, widget_attrs) %}
    <div name="translation-widget" class="clearfix" style="margin-bottom: 14px;" data-translation-index="__name__">
        <div class="col-sm-1" style="padding-left: 0px; padding-right: 0px;">
            {# render "locale" prototype widget #}
            <select id="{{ prototype.locale.vars.id }}" name="{{ prototype.locale.vars.full_name }}" class="form-control">
            {% for choice in prototype.locale.vars.choices %}
                <option value="{{ choice.value }}">{{ choice.label }}</option>
            {% endfor %}
            </select>
        </div>
        <div class="col-sm-11" style="padding-left: 0px; padding-right: 0px;">
            <div class="input-group">
                {# render "content" prototype widget #}
                {% set attr = widget_attrs|default([])|merge({class: (widget_attrs.class|default('') ~ ' form-control')|trim}) %}
                <input
                {%- for attrname, attrvalue in attr -%}
                    {{- " " -}}
                    {{- attrname }}="{{ attrvalue }}"
                {%- endfor -%}
                {{ block('widget_attributes') }} type="text" id="{{ prototype.content.vars.id }}" name="{{ prototype.content.vars.full_name }}" value="{{ prototype.content.vars.value }}">

                {# render hidden "object" prototype widget #}
                <input type="hidden" value="" name="{{ prototype.object.vars.full_name }}" id="{{ prototype.object.vars.id }}">
                {# render hidden "field" prototype widget #}
                <input type="hidden" value="{{ widget_name }}" name="{{ prototype.field.vars.full_name }}" id="{{ prototype.field.vars.id }}">
                {# remove translation button #}
                <span class="input-group-btn" style="padding-left: 6px;">
                    <button type="button" class="btn btn-flat btn-xs" name="remove-translation">
                        <i class="fa fa-trash"></i><span>Remove</span>
                    </button>
                </span>
            </div>
        </div>
    </div>
{% endmacro %}


{# Prototype: textarea type #}
{% macro render_translated_textarea_prototype(prototype, widget_name, widget_attrs) %}
    <div name="translation-widget" class="clearfix" style="margin-bottom: 14px;" data-translation-index="__name__">
        <div class="col-sm-1" style="padding-left: 0px; padding-right: 0px;">
            {# render "locale" prototype widget #}
            <select id="{{ prototype.locale.vars.id }}" name="{{ prototype.locale.vars.full_name }}" class="form-control">
            {% for choice in prototype.locale.vars.choices %}
                <option value="{{ choice.value }}">{{ choice.label }}</option>
            {% endfor %}
            </select>
        </div>
        <div class="col-sm-11" style="padding-left: 0px; padding-right: 0px;">
            <div class="input-group">
                {# render "content" prototype widget #}
                {% set attr = widget_attrs|default([])|merge({class: (widget_attrs.class|default('') ~ ' form-control')|trim}) %}
                <textarea
                {%- for attrname, attrvalue in attr -%}
                    {{- " " -}}
                    {{- attrname }}="{{ attrvalue }}"
                {%- endfor -%}
                {{ block('widget_attributes') }} id="{{ prototype.content.vars.id }}" name="{{ prototype.content.vars.full_name }}">{{ prototype.content.vars.value }}</textarea>

                {# render hidden "object" prototype widget #}
                <input type="hidden" value="" name="{{ prototype.object.vars.full_name }}" id="{{ prototype.object.vars.id }}">
                {# render hidden "field" prototype widget #}
                <input type="hidden" value="{{ widget_name }}" name="{{ prototype.field.vars.full_name }}" id="{{ prototype.field.vars.id }}">
                {# remove translation button #}
                <span class="input-group-btn" style="padding-left: 6px;">
                    <button type="button" class="btn btn-flat btn-xs" name="remove-translation">
                        <i class="fa fa-trash"></i><span>Remove</span>
                    </button>
                </span>
            </div>
        </div>
    </div>
{% endmacro %}


{# translated photo type #}
{# ... #}