------------------------------------------------------<br />
- P h o t o   M a n a g e r<br />
------------------------------------------------------<br />

{#
  Photo manager bi trebap dobiti proslijeđen neki parametar
  s kojim bi se definiralo ponašanje photo managera, npr:
   - da li je single selecting ili multi selecting (jedna klik zatvara prozor ili možeš naklikati (selectati)
     više slika i onda s gumbom kliknuti "Take selected".
 #}

<script type="text/javascript">
    zApps.winManager.addToInitStack(function(thisWindow) {
        var $windowHolder = thisWindow.getWindowHolder();
        var $selectPhotoLinks = $windowHolder.find('input[name="select-photo"]');
        
        // bind select photo links
        $selectPhotoLinks.on('change', function(e) {
            if($(this).prop('checked') == true) {
                thisWindow.close();
            }
        });
    });
</script>

<div class="photo">
    <img data-file-name="http://www.hadriatic.com/data/photos/places/ny.jpg" data-file-size="245KB" src="http://www.hadriatic.com/data/photos/places/ny.jpg" />
    <input type="checkbox" name="select-photo" value="1" />Select photo
</div>