{% macro render_menu(menu, active_path) %}
    {% if menu is iterable %}
        {% for menuItem in menu %}
            {% if menuItem.header is defined %}
                <li class="header">{{ menuItem.header }}</li>
            {% endif %}
            {% if menuItem.items is defined %}
                {{ _self.render_items(menuItem.items, active_path) }}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endmacro %}

{% macro render_items(items, activePath) %}
    {% if items is iterable %}
        {% for item in items %}
            {% if item.subitems is defined and item.subitems is not empty %}
                {# Subitems #}
                {% set treeviewActive = '' %}
                {% if item.subitems is iterable %}
                    {% for subitem in item.subitems %}
                        {% if activePath is same as (subitem.path) %}
                            {% set treeviewActive = 'active' %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
                <li class="treeview {{ treeviewActive }}">
                    <a href="#">
                        <i class="fa {{ item.icon_class is defined ? item.icon_class : '' }}"></i> <span>{{ item.title }}</span> <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    {{ _self.render_subitems(item.subitems, activePath) }}
                </li>
            {% else %}
                {# Items #}
                <li class="{{ activePath is same as (item.path) ? 'active' : '' }}">
                    <a href="{{ _self.build_menu_url(item.path) }}">
                        <i class="fa {{ item.icon_class is defined ? item.icon_class : '' }}"></i> <span>{{ item.title }}</span>
                    </a>
                </li>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endmacro %}

{% macro render_subitems(subitems, activePath) %}
    {% if subitems is iterable %}
        <ul class="treeview-menu">
            {% for subitem in subitems %}
                <li class="{{ activePath is same as (subitem.path) ? 'active' : '' }}"><a href="{{ _self.build_menu_url(subitem.path) }}">{{ subitem.title }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}

{% macro build_menu_url(path) %}
{% spaceless %}
    {% if path == '/' %}
        {{ path('admin_default') }}
    {% else %}
        {{ path('admin_default') ~ path }}
    {% endif %}
{% endspaceless %}
{% endmacro %}