{% extends 'ZappsAdminBundle:Crud:edit.html.twig' %}

{% block layout_content_title %}Edit user{% endblock %}

{% block crud_edit_form %}
    <script type="text/javascript">
        $(document).ready(function() {
            zApps.winManager.addToInitStack(function userProfileEdit(thisWindow) {
                var windowHolder = thisWindow.getWindowHolder();

                // bind edit user roles link
                var link = windowHolder.find('a.edit-user-roles');
                link.click(function(event) {
                    event.preventDefault();
                    var userRolesWindow = zApps.winManager.createWindow( {
                        id: 'user-roles-window',
                        type: 'dialog',
                        parent: thisWindow,
                        sourceUrl: link.attr('href'),
                        width: 'small',
                        onClose: function(self, params) {
                            $.ajax( {
                                url: '{{ path('admin_user_roles_list', { 'id': entity.id }) }}',
                                dataType: 'html',
                                beforeSend: function() {
                                    self.getParent().showLoader();
                                },
                                success: function(responseData) {
                                    self.getParent().getWindowHolder().find('div.user-roles').html(responseData);
                                    self.getParent().hideLoader();
                                }
                            });
                        }
                    });
                });
            });
        });
    </script>

    {{ form_row(form.username) }}
    {{ form_row(form.first_name) }}
    {{ form_row(form.last_name) }}
    {{ form_row(form.email) }}

    <div class="form-group">
        <label class="col-sm-2 control-label">Roles</label>
        <div class="col-sm-10">
            <div class="user-roles">{% render controller('ZappsAdminBundle:UserProfile:listRoles', { 'id': entity.id }) %}</div>
            {% if is_granted('ROLE_ADMIN') %}
                <a class="edit-user-roles" href="{{ path('admin_user_roles_edit', { 'id': entity.id }) }}">Edit user roles</a>
            {% endif %}
        </div>
    </div>

    {% if form.enabled is defined %}
        {{ form_row(form.enabled) }}
    {% endif %}
{% endblock %}