{% extends 'ZappsAdminBundle::static_layout.html.twig' %}

{% block layout_content_title %}<i class="fa fa-home"></i> Welcome to zAppsAdmin bundle{% endblock %}

{% block layout_content_body %}
    Lorem ipsum...
{% endblock %}