{% extends 'ZappsAdminBundle:Crud:delete.html.twig' %}

{% block layout_content_title %}Delete page template{% endblock %}

{% block crud_delete_message %}Are you sure you want to delete page template?{% endblock %}