{% extends 'ZappsAdminBundle:Crud:new.html.twig' %}

{% block layout_content_title %}Add new page template{% endblock %}

{% block crud_new_form %}

    {{ form_row(form.name) }}

    {{ form_row(form.controller) }}

    <div class="form-group">
        {{ form_label(form.fields) }}
        <div class="col-sm-10">
            <div class="well">
                <div id="{{ form.fields.vars.id }}" data-prototype="{{ form_widget(form.fields.vars.prototype)|e }}" style="margin-bottom:4px;">
                    {% for field in form.fields %}
                        <div name="item-field" style="margin-bottom: 4px;">
                            {{ form_widget(field) }}
                        </div>
                    {% endfor %}
                </div>
                <a name="add-field" href="#"><i class="fa fa-plus"></i> Add field</a>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        zApps.winManager.addToInitStack(function(thisWindow) {

            // Keep track of how many fields have been rendered in collection
            var fieldsCount = '{{ form.fields|length }}';

            // Bind "add field to collection" button
            $('a[name="add-field"]').click(function (e) {
                e.preventDefault();

                var $fieldsCollection = jQuery('#{{ form.fields.vars.id }}');

                // Grab the prototype template
                var newWidget = $fieldsCollection.attr('data-prototype');

                // Replace the "__name__" used in the id and name of the prototype
                // with a number that's unique to your collection.
                newWidget = newWidget.replace(/__name__/g, fieldsCount);

                fieldsCount++;

                // Create a new element and add it to the collection
                var $newWidget = jQuery('<div name="item-field" style="margin-bottom: 4px;"></div>').html(newWidget);

                // Append remove button to new element
                $newWidget.find('div.remove').append('<span class="input-group-btn" style="padding-left: 6px; padding-top:7px;"><button type="button" class="btn btn-xs" name="remove-field">Remove</button></span>');

                // Bind "remove" button
                $newWidget.find('button[name="remove-field"]').click(function() {
                    $(this).parents('div[name="item-field"]').remove();
                });

                // Add element to collection
                $newWidget.appendTo($fieldsCollection);
            });
        });
    </script>

{% endblock %}