{% extends "ZappsAdminBundle::base.html.twig" %}

{% block layout %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('input').iCheck( {
                checkboxClass: 'icheckbox_minimal-grey',
                radioClass: 'iradio_minimal-grey',
                increaseArea: '20%' // optional
            });
        });
    </script>
    <div class="login-box">
        <div class="login-logo">
            <span><b>zApps</b>Admin</span>
        </div>
        <div class="login-box-body">
            {% if error %}
                <p class="login-box-msg text-red">{{ error|trans({}, 'FOSUserBundle') }}</p>
            {% endif %}
            <form action="{{ path("admin_user_login_check") }}" method="post">
                <div class="form-group has-feedback">
                    <input type="text" class="form-control" name="_username" placeholder="Username" value="{{ last_username }}">
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="password" class="form-control" name="_password" placeholder="Password" value="">
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        <div class="form-group">
                            <div class="checkbox">
                                <label style="padding-left: 0;"><input type="checkbox" id="remember_me" name="_remember_me" value="on"><span style="padding-left:4px;">Remember me</span></label>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-danger btn-block btn-flat">Sign In</button>
                    </div>
                </div>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            </form>
        </div>
    </div>
{% endblock %}