{% extends 'ZappsAdminBundle::modal_layout.html.twig' %}

{% block layout_content_title %}CRUD DELETE{% endblock %}

{% block layout_content_body %}
    <script type="text/javascript">
        zApps.winManager.addToInitStack(function(thisWindow) {
            var windowHolder = thisWindow.getWindowHolder();

            // set form submit event
            var form = windowHolder.find('form');
            form.submit(function(event) {
                event.preventDefault();

                // reload this window with new uri and posted data
                var uri = $(this).attr('action');
                var data = $(this).serialize();
                var method = 'POST';
                thisWindow.load(uri, data, method);
            });

            // bind action for "No" button
            windowHolder.find('button[name="no"]').click(function() {
                thisWindow.close();
            });

            // bind action for "Yes" button
            windowHolder.find('button[type="submit"]').click(function() {
                form.submit();
            });
        });
    </script>

    {% block crud_delete_message %}Are you sure?{% endblock %}

    <form class="form-horizontal" action="{{ app.request.uri }}" method="post" {{ form_enctype(form) }}>
        {{ form_errors(form) }}
        {% block crud_delete_form %}
            {{ form_widget(form) }}
        {% endblock %}
    </form>
{% endblock %}

{% block layout_content_footer %}
    <button type="button" name="no" class="btn btn-default pull-left">No</button>
    <button type="submit" class="btn btn-primary pull-right">Yes</button>
{% endblock %}