{% extends 'ZappsAdminBundle::static_layout.html.twig' %}

{% block layout_content_title %}CRUD LIST{% endblock %}

{% block layout_content_body %}
    <div class="box box-primary">
        {% block crud_list_grid %}
            {{ grid(grid) }}
        {% endblock %}
    </div>
{% endblock %}