{% extends 'ZappsAdminBundle::modal_layout.html.twig' %}

{% block layout_content_title %}CRUD NEW{% endblock %}

{% block layout_content_body %}

    <script type="text/javascript">
        zApps.winManager.addToInitStack(function crudEdit(thisWindow) {
            var windowHolder = thisWindow.getWindowHolder();

            // activate plugins for select2 and iCheck
            windowHolder.find('select').select2({
                dropdownParent: $("#" + thisWindow.getId()),
                minimumResultsForSearch: "Infinity"
            });
            $('input').iCheck( {
                checkboxClass: 'icheckbox_minimal-grey',
                radioClass: 'iradio_minimal-grey',
                increaseArea: '20%' // optional
            });

            // set form submit event
            var form = windowHolder.find('form');
            form.submit(function(event) {
                event.preventDefault();

                // reload this window with new uri and posted data
                var uri = $(this).attr('action');
                var data = $(this).serialize();
                var method = 'POST';
                thisWindow.load(uri, data, method);
            });

            // bind action for "Cancel" button
            windowHolder.find('button[name="cancel"]').click(function() {
                thisWindow.close();
            });

            // bind action for "Cancel" button
            windowHolder.find('button[type="submit"]').click(function() {
                form.submit();
            });
        });
    </script>

    <form class="form-horizontal" action="{{ app.request.uri }}" method="post" {{ form_enctype(form) }}>
        {{ form_errors(form) }}
        {% block crud_new_form %}
            {{ form_widget(form) }}
        {% endblock %}
        {% if form._token is defined %}{{ form_row(form._token) }}{% endif %}
    </form>
{% endblock %}

{% block layout_content_footer %}
    <button type="button" name="cancel" class="btn btn-default pull-left">Cancel</button>
    <button type="submit" class="btn btn-primary pull-right">Save</button>
{% endblock %}